body {
	text-align: center;
    margin: 30px;
    background-color: #FFE58C;
}

.h1 {
	text-transform: uppercase;
}

.trigger {
	margin-top: 70px;
	padding: 10px;
	background-color: #4099FF;
	color: white;
}

.tweet {
	width: 75px;
	height: 75px;
	border: 0px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 25px;
	margin-left: 20px;
	color: #4099FF;
}

.fa-twitter:before {
    margin-right: 10px;
}
